<div>
<h3> {{ post.title }} </h3>
<p> {{ post.description }} </p>
<p> {{ post.body }} </p>
<p> {{ post.author }} </p>
<p> {{ post.created_at }} </p>
<p> {{ post.updated_at }} </p>
<p> {{ post.slug }} </p>
<a href="{% url 'post_update' slug=post.slug %}"> Update Post </a>
<a href="{% url 'post_delete' slug=post.slug %}"> Delete Post </a>
</div>
<hr />
<div>
    <form method="POST" action = "{% url 'create_comment' post.slug %}">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <input type="submit" value="create comment">
    </form>
    <div>
        <ul>
            {% for comment in comments %}
                <li> {{comment.author}}, {{comment.created_at}}, {{comment.updated_at}}
                <br/> 
                {{comment.body}}
                <br /> 
                <a href="{% url 'update_comment' id=comment.id slug=post.slug %}"> update </a>

                <a href="{% url 'delete_comment' id=comment.id slug=post.slug %}"> Delete </a>
                </li>
            {% endfor %}
        </ul>
</div>