.toolBar{
	height: 70px;
	padding: 3px 20px;
	box-sizing: border-box;
	background-color:rgb(138, 23, 80);
	color: #eee;
}

.logo{
	height: calc(100%);
	display: inline-block;
	width: fit-content;
	margin: 0 0;
	/* border: 2px solid white; */
}

.logo img{
	height: 100%;
}
