.pass{
	position: relative;
}
.input{
	background-color: #aaaaaa00;
	width: 90%;
	padding: 5px;
	margin: 15px auto;
	height: 32px;
	font-size: 18px;
	border: none;
	border-bottom: 2px solid grey;
	display: block;
	text-align: left;
	color: unset;
}

.input:focus{
	outline: none;
	background-color: #e9f1ff;
	border-color: rgb(44, 119, 216);
}

.toggle{
	position: absolute;
	right: 25px;
	top: 0;
	height: 100%;
	width: 15px;
	line-height: 44px;
}

.toggle img{
	width: 100%;

}